body{
	background-color:#e5e8e8;
	font-size:20px;
	
}
.div1{
	margin-right:%;
	padding :10px ;
	clear:both;
	font-size:16px;
	
}
a {
	text-decoration:none;
}
.p{
	padding : px ;
	margin-left: 20px;
}
.a{
	background-image : url(.jpg );
	background-color :#E4FBFB;
	float:right;
	width:32%;
	padding :100px 100px;
	margin-right: 50px;
}
.m{
	background-color :#E4FBFB;
	margin : auto;
	float:;
	margin-right: px;
	padding :20px 100px ;
	width:%;
	margin-top:300px;
}
.section-heading{
	padding :0px ;
	margin : auto;
	
}
.at{
	background-color:#DAF7A6  ;
    border-radius:5px;
	margin-left:300px;
	margin-right:300px;
}
.ap{
	font-size:25px;
	padding:0 0 0px 150px;
	background-color:#DAF7A6  ;
    border-radius:5px;
}
.t{
	font-size:px;
	width:200px;
	height:40px;
	font-size:15px;
}
.tt{
	font-size:15px;
	width:300px;
	height:40px;
}
.ba{

	padding :px ;
	margin-left:250px;
	margin-right:50px;
}
.c{

	padding :20px ;
	margin-left:200px;
	margin-right:200px;
}
.c h3{
	font-size:30px;
	margin:auto;
	margin-left:25px;
}
.r{

	float:right;
	
}
.spd{
	padding :20px ;
	margin-left:200px;
	margin-right:200px;
}
.spd h3{
	font-size:30px;
	margin:auto;
	margin-left:60px;
}
.s24{

	float:right;
	margin-right:40px;
	
}
.mhc{
	padding :20px ;
	margin-left:200px;
	margin-right:200px;
}
.mhc h3{
	font-size:30px;
	margin:auto;
	margin-left:20px;
}
.bc{

	float:right;
	margin-right:20px;
	
}
.ct{
	margin-left:100px;
	
}
.ct h2{
	
	margin-left:500px;
	
}
.c1{
	margin-left:0px;
	width:425px;
	height:40px;
	font-size:20px;
}
.c2{
	margin-left:400px;
	width:425px;
	height:40px;
	font-size:16px;
}
.ctt{
	line-height:20px;
	margin-left:00px;
	width:px;
	height:px;
	font-size:30px;
	padding: 10px 10px;
}
.ctt h3{
	padding:0px;
	font-size:30px;
}
.{
	margin-left:0px;
	width:px;
	height:px;
	font-size:px;
	float:left;
}
.map{
	margin-right:50px;
	float:right;
	
}
.copy{
	margin:0%;
	background-color:green;
	
}
.d{
	float:;
	margin-right:;
	
}
.de{
	
	margin-left:20%;
	margin-right:20%;
	float:;
	
}
.bl{
	margin-left:40%;
	padding:0px 0px 50px 0px;
}
.dd{
	background-color:white;
	padding: 0px 20px 20px;

}

